{% load i18n %}

<div class="sidebar-header">
    <span style="font-weight: 900;">{% trans 'InPublish' %}</span>
</div>

<div style="text-align: center; height: 60px;">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col">
                <a href="{% url 'builder:new_interactive_flyer' %}" class="btn btn-primary">
                    {% trans 'Nuovo volantino' %}
                </a>
            </div>
        </div>
    </div>
</div>
<hr>
<nav class="nav flex-column main-menu">
    <a class="nav-link {% if request.resolver_match.view_name == 'builder:dashboard' %}active{% endif %}"
        href="{% url 'builder:dashboard' %}">
        <i class="material-icons">list</i>
        {% trans 'Volantini' %}
    </a>

    <!-- <a class="nav-link" href="#">
        <i class="material-icons">assessment</i>
        Campagne
    </a>
    <a class="nav-link" href="#">
        <i class="material-icons">business</i>
        Clienti
    </a> -->
</nav>